<!-- Slider Start -->
<section id="concert">
  <div class="container">
    <div class="row"></div>
      <div class="col-md-10 col-md-offset-1">
        <img src="./img/mi_bar.jpg" class="img-responsive" alt="Responsive image">
        <h1 class='text-center'>{{ page.title }}</h1>
            <div class="block">
          <p class='text-center'>Asegura tú entrada al evento más esperado del verano <b>Fire Land + The Power of The Pudú</b></br></p>
          <div class="col-md-8 col-md-offset-1">
            <h2 class='text-center'>Venta oficial de entradas:</h2>
            <a class='text-center' href='https://www.flow.cl/btn.php?token=potucnq' target='_blank' style="margin-left: 22vw;">
              <img src='https://www.flow.cl/img/botones/btn-pagar-negro.png'>
            </a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</br>
